<!--error 401, unauthorized access, page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 Unauthorized</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
            font-family: "Arial", sans-serif;
        }

        h1 {
            font-size: 50px;
        }

        body {
            background-color: #f2f2f2;
        }

        .message {
            display: inline-block;
            text-align: left;
            line-height: 49px;
        }
    </style>
</head>
<body>
    <h1>Unauthorized</h1>
    <div class="message">
        <h2>401 - Unauthorized Access</h2>
        <p>You do not have permission to view this directory or page using the credentials that you supplied.</p>
    </div>
</body>
</html>
