{% extends "base.html" %}
{% block content %}

<!-- Custom styles for this page -->
<link rel="stylesheet" href="../public/stylesheets/landing.css">

<!-- Title -->
<div class="title-top-centered">
    <h1>Marist Faculty Elections</h1>
</div>

<!-- Main content of the login page -->
<div class="login-page">
    <!-- Card Container -->
    <div class="card">
        <h2 class="card-header text-center">Login</h2>
        <div class="card-body">
            <!-- Login form -->
            <form method="POST" action="/login">
                <div class="form-group">
                    <!-- Marist SSO Login button -->
                    <input type="submit" value="Marist SSO" class="btn btn-danger btn-block">
                </div>
            </form>
        </div>
    </div>

    <!-- Admin Login Button -->
    <div class="text-center mt-4">
        <a href="/admin_login" class="btn btn-outline-danger">Admin Login</a>
    </div>
</div>

{% endblock %}
