<%- include('partials/base.ejs') %>

<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="profile-container text-center mt-5">
    <!-- Display profile image -->
    <img src="{{ url_for('static', filename=image_filename.split('/')[-1]) }}" alt="Profile Image" class="img-thumbnail img-circle profile-img" style="width:200px; height:200px;">

    <!-- Display name -->
    <h1 class="mt-3">{{ name }}</h1>

    <!-- Display Preferred Name -->
    <h4 class="mt-3">Preferred Name: {{ preferredName }}</h4>

    <!-- Display School -->
    <h4 class="mt-3">School: {{ school }}</h4>
    
    <hr>  <!-- Horizontal Line -->

    <!-- Display Committees -->
    <h5>Committees: {{ committees }}</h5>
    
    <hr>  <!-- Horizontal Line -->
    
    <!-- Display Service Statement -->
    <h5>Service Statement:</h5>
    <p>{{ service_statement }}</p>

    <hr>  <!-- Horizontal Line -->

    <!-- Display Candidate Statement -->
    <h5>Candidate Statement:</h5>
    <p>{{ candidate_statement }}</p>

    <!-- Placeholder for more content or other sections -->
    <!-- Example Button: -->
    <!-- <button class="profile-btn">Edit Profile</button> -->
</div>

<%- include('./partials/footer') %>