<link rel="stylesheet" href="/stylesheets/view_and_manage.css">

<%- include('./partials/adminbase.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view and manage View</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Admin mange and view</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Section 1</h3>
            <p>This is a sample section for the admin dashboard. You can put relevant data or controls here.</p>
        </div>
        <div class="col-md-6">
            <h3>Section 2</h3>
            <p>This is another sample section. Add any other data or controls relevant to the admin's needs.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <a href="/" class="btn btn-danger btn-block">Logout or Go Back to Main Page</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
