<link rel="stylesheet" href="/stylesheets/view_and_manage.css">

<%- include('./partials/adminbase.ejs') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View & Manage View</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <div class="container mt-5">
        <h1 class="text-center">View & Manage Profiles</h1>
        <hr>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-3 mb-3">
                <button class="btn btn-danger btn-block">Add to Ballot</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary btn-block">Edit School</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary btn-block">Delete Profile</button>
            </div>
        </div>

        <div class="tab-buttons">
            <input type="radio" name="tabs" id="tab1">
            <label for="tab1">Lorem Ipsum</label>
            <input type="radio" name="tabs" id="tab2">
            <label for="tab2">Lorem Ipsum 2</label>
            <input type="radio" name="tabs" id="tab3">
            <label for="tab3">Lorem Ipsum 3</label>
        </div>

        <div class="tab" id="content1">
            <div class="profile-container text-center mt-5">
                <!-- Profile code for Tab 1 -->
                <img src="{{ url_for('static', filename=image_filename.split('/')[-1]) }}" alt="Profile Image"
                    class="img-thumbnail img-circle profile-img" style="width:200px; height:200px;">
                <h1 class="mt-3">{{ name }}</h1>
                <h4 class="mt-3">Preferred Name: {{ preferredName }}</h4>
                <h4 class="mt-3">School: {{ school }}</h4>
                <hr>
                <h5>Committees: {{ committees }}</h5>
                <hr>
                <h5>Statement:</h5>
                <p>{{ statement }}</p>
            </div>
        </div>

        <div class="tab" id="content2">
            <div class="profile-container text-center mt-5">
                <!-- Profile code for Tab 2 -->
                <!-- Insert content for Tab 2 here -->
            </div>
        </div>

        <div class="tab" id="content3">
            <div class="profile-container text-center mt-5">
                <!-- Profile code for Tab 3 -->
                <!-- Insert content for Tab 3 here -->
            </div>
        </div>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>