/* Global styles for the body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8; 
    line-height: 1.6;
}

/* Styles for the login page layout */
.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Top-centered title styles */
.title-top-centered {
    position: absolute;
    text-align: center;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, #f24646, #8e1c1c);
    padding: 10px 30px;
    border-radius: 8px;
    font-family: 'Helvetica', 'sans-serif';
    font-stretch: semi-condensed;
    color:rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(185, 75, 75, 0.2);
}

/* Styles for the login card */
.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.card-header {
    padding: 7px;
    background: linear-gradient(45deg, #f24646, #8e1c1c);
    color:rgb(255, 255, 255);
    font-family: 'Helvetica', 'sans-serif';
    text-align: center;
}

.card-body {
    padding: 20px;
}

/* General button styles */
.btn {
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

/* Styles for the danger/red button */
.btn-danger {
    background: linear-gradient(45deg, #f24646, #8e1c1c);
    color:rgb(255, 255, 255);
    padding: 10px 30px;
    margin: 0;
    position: absolute;
    top: 56.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-danger:hover, .btn-danger:focus {
    background: #ffffff;
    color: black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/* Styles for the outlined danger/red button */
.btn-outline-danger {
    background-color: transparent;
    color: #f24646;
    font-size: 13px;
    margin-left: -165px;
}

.btn-outline-danger:hover, .btn-outline-danger:focus {
    background: linear-gradient(45deg, #f24646, #8e1c1c);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}